/* MODO ALTO CONTRASTE */
.alto-contraste {
  background: black !important;
  color: white !important;
}

.alto-contraste header,
.alto-contraste nav,
.alto-contraste footer {
  background: #222 !important;
  color: yellow !important;
}

.alto-contraste section {
  background: #111 !important;
  color: white !important;
  border-color: yellow !important;
}

.alto-contraste .resultado,
.alto-contraste .contenedor,
.alto-contraste .residuo {
  background: #333 !important;
  color: white !important;
}
